  <div style="background-color: lightgray;">
    <hr>
    <h2><%= @task.title %></h2>
    <p><%= @task.details %></p>
    <%= check_box_tag "completed", "completed", @task.completed == true, disabled: true %> completed<br>
    <hr>
  </div>
  <%= link_to 'See all tasks', tasks_path %>
  <%= link_to 'Update task', edit_task_path(@task) %>
    <%= link_to 'Delete task', task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %>
